# Dir
components/softdevice/s112
components/softdevice/s113
components/softdevice/s122
components/softdevice/s140
components/softdevice/s212
components/softdevice/s312
components/softdevice/s332
components/softdevice/s340
examples/802_15_4
examples/ant
examples/ble_central
examples/ble_central_and_peripheral
examples/connectivity
examples/crypto
examples/dfu
examples/dtm
examples/multiprotocol
examples/nfc
examples/peripheral
examples/proprietary_rf
examples/usb_drivers
examples/readme.txt
examples/ble_peripheral/ble_app_alert_notification
examples/ble_peripheral/ble_app_ancs_c
examples/ble_peripheral/ble_app_beacon
examples/ble_peripheral/ble_app_blinky
examples/ble_peripheral/ble_app_bms
examples/ble_peripheral/ble_app_bps
examples/ble_peripheral/ble_app_buttonless_dfu
examples/ble_peripheral/ble_app_cscs
examples/ble_peripheral/ble_app_cts_c
examples/ble_peripheral/ble_app_eddystone
examples/ble_peripheral/ble_app_gatts_c
examples/ble_peripheral/ble_app_gls
examples/ble_peripheral/ble_app_hids_keyboard
examples/ble_peripheral/ble_app_hids_mouse
examples/ble_peripheral/ble_app_hrs_freertos
examples/ble_peripheral/ble_app_hts
examples/ble_peripheral/ble_app_ias_c
examples/ble_peripheral/ble_app_ipsp_acceptor
examples/ble_peripheral/ble_app_proximity
examples/ble_peripheral/ble_app_pwr_profiling
examples/ble_peripheral/ble_app_rscs
examples/ble_peripheral/ble_app_template
examples/ble_peripheral/ble_app_tile
examples/ble_peripheral/ble_app_uart
examples/ble_peripheral/experimental
examples/ble_peripheral/ble_app_hrs/ble_app_hrs.eww
examples/ble_peripheral/ble_app_hrs/hex
examples/ble_peripheral/ble_app_hrs/pca10040e
examples/ble_peripheral/ble_app_hrs/pca10056
examples/ble_peripheral/ble_app_hrs/pca10056e
examples/ble_peripheral/ble_app_hrs/pca10059
examples/ble_peripheral/ble_app_hrs/pca10040/s312
examples/ble_peripheral/ble_app_hrs/pca10040/s332
examples/ble_peripheral/ble_app_hrs/pca10040/ser_s112_hci
examples/ble_peripheral/ble_app_hrs/pca10040/ser_s132_hci
examples/ble_peripheral/ble_app_hrs/pca10040/ser_s132_spi
examples/ble_peripheral/ble_app_hrs/pca10040/ser_s132_spi_5W
examples/ble_peripheral/ble_app_hrs/pca10040/ser_s132_uart
*.msi

